.card-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 50px;
      height: 32px;
      font-size: 32px;
    }
  
    .item-count {
      position: absolute;
      left: 50%;
      top: 56%;
      transform: translate(-50%,-50%);
      font-size: 15px;
      font-weight: bold;
    }
  }
   