.authentication-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  margin: 50px 3rem;
  flex-wrap: wrap;

  .sign-up-container {
    margin: 0;
    margin-right: 15rem;

    h2,
    span {
      display: block;
      align-self:flex-start;
    }

    .buttons-container {
      gap: 2rem;
    }
  }
}

@media (max-width: 1200px) {
  .authentication-container {
    flex-direction: column;
    justify-content: center;
    margin: 3rem 3rem;
  }

  .sign-up-container1 {
    margin: auto;

    .group {
      width: 80vw;
    }
  }

  .sign-up-container {
    margin-bottom: 20px;
    margin: 0 !important;

    .buttons-container {
      gap: 4px !important;
    }

    .group {
      width: 80vw;
    }

    h2,
    span {
      display: flex;
      justify-content: center;
      margin-left: 7rem;

    }
  }
}

@media (max-width: 600px) {
  .authentication-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;

    .sign-up-container1 {
      button {
        margin-left: 8rem;
        margin-bottom: 1rem;
      }

      h2,
      span {
        display: flex;
        justify-content: center;
      }

    }

    .sign-up-container {

      h2,
      span {
        display: flex;
        justify-content: center;
      }

      .buttons-container {
        flex-wrap: wrap;
        margin-left: 5rem;
        gap: 1rem;

        .google-red-sign-in {
          align-items: center;
        }
      }

      form {
        width: 80vw;
        margin: 1rem 0;
      }

      .form-input {
        width: 80vw;
      }
    }
  }
}

@media (max-width: 400px) {
  .google-red-sign-in {
    align-items: center;
  }

  .sign-up-container1 button {
    margin-left: 5rem !important;
    margin-bottom: 1rem;
  }

  .sign-up-container h2,
  span {
    align-self: center !important;
  }
}